<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.sungshin3f"
    android:name="android.support.multidex.MultiDexApplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MovieReviewApplication"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sungshin3F"
        tools:replace="android:appComponentFactory"
        android:usesCleartextTraffic="true">
        <activity android:name=".GuideActivity"></activity>
        <activity android:name=".Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InsideCate" />
        <activity android:name=".OutsideCate" />
        <activity android:name=".page1"></activity>
        <activity android:name=".OutFashion1" />
        <activity
            android:name=".presentation.OutFun1"
            android:label="@string/app_name">
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".DetailWebtoon"></activity>
        <activity android:name=".Recwebtoonres" />
        <activity android:name=".Recwebtoon" />
        <activity android:name=".Newwebtoon" />
        <activity android:name=".NewRecMainActivity" />
        <activity android:name=".Fantasywebtoon" />
        <activity android:name=".Periodwebtoon" />
        <activity android:name=".Thrillerwebtoon" />
        <activity android:name=".Actionwebtoon" />
        <activity android:name=".Romancewebtoon" />
        <activity android:name=".Infun1"/>

        <activity android:name=".outfood.outFood1"></activity>
        <activity android:name=".outfood.OutFood2Flex"></activity>
        <activity android:name=".outfood.OutFood2Par"></activity>
        <activity android:name=".outfood.OutFood2Vegan"></activity>
        <activity android:name=".outfood.OutFood2Sing"></activity>

        <activity android:name=".outfood.outFood3"></activity>
        <activity
            android:name=".Infood2Party"
            android:exported="true" />
        <activity
            android:name=".Infood2Vegan"
            android:exported="true" />
        <activity
            android:name=".Infood2Home"
            android:exported="true" />
        <activity
            android:name=".Infood2Single"
            android:exported="true" />
        <activity
            android:name=".Youtubeplayer"
            android:exported="true"/>
        <activity
            android:name=".Infood1"
            android:exported="true">
        </activity>
        <activity
            android:name=".Gtype"
            android:exported="true" />
        <activity
            android:name=".Ftype"
            android:exported="true" />
        <activity
            android:name=".Etype"
            android:exported="true" />
        <activity
            android:name=".Dtype"
            android:exported="true" />
        <activity
            android:name=".Ctype"
            android:exported="true" />
        <activity
            android:name=".Btype"
            android:exported="true" />
        <activity
            android:name=".Atype"
            android:exported="true" />
        <activity
            android:name=".page12"
            android:exported="true" />
        <activity
            android:name=".page11"
            android:exported="true" />
        <activity
            android:name=".page10"
            android:exported="true" />
        <activity
            android:name=".page9"
            android:exported="true" />
        <activity
            android:name=".page8"
            android:exported="true" />
        <activity
            android:name=".page7"
            android:exported="true" />
        <activity
            android:name=".page6"
            android:exported="true" />
        <activity
            android:name=".page5"
            android:exported="true" />
        <activity
            android:name=".page4"
            android:exported="true" />
        <activity
            android:name=".page3"
            android:exported="true" />
        <activity
            android:name=".page2"
            android:exported="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>